#title Narcissus

#info
  %p Your IP address is: 
  %p 
  = @ip
  %p
  = @env['HTTP_X_REAL_IP']
  %p
  = @env['REMOTE_ADDR']
  %p Your User Agent is:
  %p 
  = @env['HTTP_USER_AGENT']

#about
  %p About:
  %p I'm runnning on Sinatra Version #{Sinatra::VERSION}
  %p Since #{Time_start} at the local server

